version: '3'

services:
  lotteryjs.com:
    image: nodebb/docker
    restart: always
    networks:
      - web
    volumes:
      - .:/usr/src/app
    logging:
      options:
        max-size: "100k"
        max-file: "3"
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.basic.frontend.rule=Host:lotteryjs.com"
      - "traefik.basic.port=4567"
      - "traefik.basic.protocol=http"
networks:
  web:
    external: true
